{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/libros.png' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    <link href="{% static 'libs/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>{% block title %}Inicio{% endblock %}</title>
</head>
<body>
    {% block html %}
    {% include 'navbar.html' %}

    <main class="d-flex justify-content-center align-items-center vh-80">
        {% block body %}
        <!-- Banner de Bienvenida -->
        <div class="p-4 bg-primary text-white text-center rounded shadow-lg" style="max-width: 80%;">
            <h1 class="fw-bold"> {{ user.username | upper }} BIENVENIDOS A BIBLIOTECA.DEV</h1>
            <p class="fst-italic">— "Google puede darte 100.00 respuestas, el Bibliotecario puede darte la correcta." <br> <small>- Neil Gaiman</small></p>
        </div>
        {% endblock %}
    </main>

    <div style="position: fixed; bottom: 0; text-align: center; width: 100%">
        {% include 'footer.html' %}
    </div>
    {% endblock %}

    <script src="{% static 'libs/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-5.3.3-dist/js/popper.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>
