{% extends 'index.html' %}
{% block title %}
Listado de  Autores
{% endblock %}

{% block body %}


{% if autores %}

<div class="card">
  <div class="card-header">
    <strong class = "card-title">Listado de Autores</strong>
  </div>
</div>
<div >
<table  class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Nacionalidad</th>
      <th>Descripcion</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for autor in autores %}
      <tr>
        <td>{{autor.id}}</td>
        <td>{{autor.nombre}}</td>
        <td>{{autor.apellidos}}</td>
        <td>{{autor.nacionalidad}}</td>
        <td>{{autor.descripcion}}</td>
        <td>
          <a href="{% url 'libro:editar_autor' autor.id %}" class="btn btn-primary">Editar</a>
          <!-- <a href="{% url 'libro:editar_autor' autor.id %}">Editar</a> -->
          <a href="{% url 'eliminar_autor' autor.id %}">Eliminar</a>


        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% else %}
<h1>No exiten autores registrados</h1>
{% endif %}

{% endblock %}